<p id="notice"><%= notice %></p>

<p>
  <strong>Course name:</strong>
  <%= @course.course_name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @course.section %>
</p>

<p>
  <strong>Class type:</strong>
  <%= @course.class_type %>
</p>

<p>
  <strong>Autoenroll:</strong>
  <%= @course.autoenroll %>
</p>

<p>
  <strong>Weekdays:</strong>
  <%= @course.weekdays %>
</p>

<p>
  <strong>Time:</strong>
  <%= @course.time %>
</p>

<p>
  <strong>Seating:</strong>
  <%= @course.seating %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
